* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 100%;
    height: fit-content;
}

.header {
    line-height: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.logo {
    width: 100px;
    margin-left: 10px;
}

.form {
    float: right;
    margin-right: 10px;
}

.form input {
    color: #ccc;
    height: 36px;
    border-radius: 6px;
    border: 1px solid #bdbdbd;
    padding-left: 10px;
    margin-right: 4px;
}

.form button {
    height: 35px;
    border: none;
    padding: 0 20px;
    border-radius: 5px;
    background-color: #1877F2;
    color: #fff;
    font-weight: bold;
    margin-right: 4px;
}

.form a {
    text-decoration: none;
    color: #1877F2;
    font-size: smaller;
}

.box {
    width: 500px;
    height: 350px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.box h3 {
    padding: 14px 0 14px 20px;
    font-size: 18px;
}

.content {
    height: 550px;
    background-color: #E9EBEE;
    margin-bottom: 30px;
}

.content hr {
    border: none;
    border-bottom: 1px solid #ababab;
}

.item {
    display: grid;
    grid-template-columns: 1.75fr 1.25fr;

}

.receive p {
    padding: 10px 30px 20px 20px;
}

.receive span {
    margin-left: 40px;
    font-size: 13px;
}

.receive input {
    margin-left: 20px;
}

.user {
    text-align: center;
    margin-top: 50px;
}

.user img {
    width: 60px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.user p,span {
    font-size: 14px;
}

.user span {
    color: #858585;
}

.bot-box {
    line-height: 65px;
}

.bot-box a {
    text-decoration: none;
    color: #1877F2;
    font-size: 14px;
    margin-left: 16px;
}

.bot-box form {
    float: right;
}

.bot-box .notyou {
    background-color: #ccc;
    border : none;
    border-radius: 6px;
    height: 35px;
    padding: 0 12px;

    font-weight: bold;
    color: #323232;
}

.bot-box .continue {
    background-color: #1877F2;
    border : none;
    border-radius: 6px;
    height: 35px;
    padding: 0 18px;
    margin-right: 16px;
    font-weight: bold;
    color: #fff;
}

.box .privacy {
    font-size: smaller;
    color: #7a7979;
    margin-top: 10px;
}

.box .privacy a {
    text-decoration: none;
    color: #00008e;
}

.footer {
    width: 90%;
    margin-left: 80px;
}

.footer a {
    text-decoration: none;
    font-size: 13px;
    margin-left: 10px;
    color: #4867A8;
}

.footer a:hover {
    text-decoration: underline;
}

.footer span {
    font-size: 11px;
    color: #969494;
    padding-bottom: 20px;
}

.footer .first {
    margin-left: 0;
}